@import url('https://fonts.googleapis.com/css2?family=pooppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black ;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color:  #29f700 !important;
}
#navbarSupportedContent a{
     color:#fff ;
     border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #29f700;
}
#navbarSupportedContent button{
    background: #29f700;
    width: 5rem;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****Home ****/

#home{
    background: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,4)), url(img/bg1.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home h1{
    font-size: 50px;
    color:wheat;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc
                 0px 2px 0px #ccc
                 0px 3px 0px #ccc
                 0px 4px 0px #ccc
                 0px 5px 0px #ccc
                 0px 6px 0px #ccc
                 0px 7px 0px #ccc;
}
#home p{
    font-size: 18px;
    color: #fff;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
#home .signin{
    background: green;
    color: wheat;
    box-shadow: 2px 4px;
}
.signin{
    background: green !important;
    color: wheat !important;
    box-shadow: 2px 4px rgba(0,0,0, 0.3);
}

/******about ********/

#about{
    background: linear-gradient(to right,#ea1d6f, #ea1d6f 100%)
}
#about h1{
    font-weight: 800;
    font-size: 50;
    color: #ccc;
}
#about p{
    color: white;
}

/***products*****/

#products{
    background: #e5e5e5;
}
#products h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#products img{
    width: 200px;
    height: 200px;
}
.card{
    width: 200px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0, 0.3),
                inset 4px 4px 10px wheat ;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;      
    align-items: center;  
    margin: 20px 60px;    
}
.card:hover{
    box-shadow: inset 5px 5px 10px rgba(0,0,0, 0.3),
                inset -4px -4px 10px wheat ;
    transition: .2s;            
}

/***contant***/

#contant img{
    height: 400px;
}
.box{
    width: 80% !important;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contant input{
    margin: 10px 0px;    
}
#contant textarea{
    margin: 10px 0px;    
}
footer{
    width: 100%;
    height: 30px;
    text-align: center;
    background: rgba(0,0,0,.8);
    margin: -30px;
    color: wheat;
    padding: 3px;
}
